<h2>Please enter the ingredient you would like to use:</h2>
<form action="/import" method="post">
  <div>
    <label for="ingredient">Ingredient:</label>
    <input type="text" id="ingredient" name="ingredient" />
  <div>
  <div class="button">
    <button type="submit">Submit</button>
  </div>
</form>
