<h1>The Recipe Library</h1>
<h2>Please select what you would like to do:</h2>
<p><a href="/list">List all recipes</a></p>
<p><a href="/create">Create a new recipe</a></p>
<p><a href="/import">Import recipes</a></p>
<p><a href="/delete">Delete a recipe</a></p>
<p><a href="/mark_as_tried">Mark as tried</a></p>







<!--
<form action="/about" method="get">
    <div>
      <input type="radio" name="choice" value="list" checked> List recipes<br>
      <input type="radio" name="choice" value="create"> Make new recipe<br>
      <input type="radio" name="choice" value="delete"> Delete a recipe<br>
      <input type="radio" name="choice" value="import"> Import recipes<br>
    </div>
    <div class="button">
      <button type="submit">Submit your choice!</button>
    </div>
</form>
 -->
