<h1>The Recipe Library</h1>
<h2>Please select what you would like to do:</h2>
<p><a href="/list">List all recipes</a></p>
<p><a href="/create">Create a new recipe</a></p>
<p><a href="/import">Import recipes</a></p>
<p><a href="/delete">Delete a recipe</a></p>
<p><a href="/mark_as_tried">Mark as tried</a></p>
<img src="http://bloximages.newyork1.vip.townnews.com/stltoday.com/content/tncms/assets/v3/editorial/a/3a/a3ac2583-4bf3-5a43-b71a-8ae061279d43/555de70049716.image.gif" height="400" width="400">








<!--
<form action="/about" method="get">
    <div>
      <input type="radio" name="choice" value="list" checked> List recipes<br>
      <input type="radio" name="choice" value="create"> Make new recipe<br>
      <input type="radio" name="choice" value="delete"> Delete a recipe<br>
      <input type="radio" name="choice" value="import"> Import recipes<br>
    </div>
    <div class="button">
      <button type="submit">Submit your choice!</button>
    </div>
</form>
 -->
